<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="my_denovo_ua_username" value="P.molodec.1@gmail.com" />
		<add key="my_denovo_ua_password" value="Заказчик" />
		<add key="gmail_username" value="P.molodec.1@gmail.com" />
		<add key="gmail_password" value="c9ANQ9RaCYwNSTj" />
		<add key="gmail_wait_seconds" value="15" />
		<add key="gmail_attempts_number" value="3" />
		<add key="open_site_wait_seconds" value="15" />
		<add key="final_email_from" value="Igor.Kozlitin@de-novo.biz" />
		<add key="final_email_to" value="Igor.Kozlitin@de-novo.biz" />
	</appSettings>	
</configuration>